<p style="color: green"><%= notice %></p>
<%= render @post %>
<% if current_user == @post.user && current_user.role == 'Blogger' %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> 
  </div>
  <br/>
  <%= button_to "Destroy this post", @post, method: :delete %>
<% end %>
<br/>
<%= link_to "Back to posts", posts_path %>